<table>
<thead>
    <tr>
    <th></th>
    <th>Total</th>
    <th>Faults</th>
    </tr>
</thead>
<tbody>
    <tr><th>Wins</th><td>{{stats.n_wins}}</td><td>{{stats.n_fault_wins}}</td></tr>
    <tr><th>Losses</th><td>{{stats.n_losses}}</td><td>{{stats.n_fault_losses}}</td></tr>
    <tr><th>Draws</th><td>{{stats.n_draws}}</td></tr>
</tbody>
<tfoot>
    <tr><th>Total Games Played</th><td>{{stats.n_games}}</td></tr>
</tfoot>
</table>
