{{>header_partial}}
{{player.name}} {{player.elo}}
<ul>
{{#each games}}
    <li><a href="/game/{{this.id}}">{{this.black.name}} vs {{this.white.name}} ({{this.game_type}}): {{this.outcome.status}}</a></li>
{{/each}}
</ul>
{{>footer_partial}}
